{{define "home"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Upload File</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/static/home.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Upload Files</a>
                <form
                    id="fileUploadForm" 
                    method="POST"
                    action="/upload" 
                    class="right file-input" 
                    enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Select File</span>
                            <input type="file" onchange="fileUpload()" name="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <div>
            <div class="row">
            {{range .Blobs}}
                <div class="col s12 m4">
                    <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ .Name }}</span>
                        <p class="size">{{ .Properties.ContentLength }}</p>
                    </div>
                    <div class="card-action">
                        <a href="#" data-filename="{{ .Name }}" onclick="fetchSAS(event)">Download</a>
                    </div>
                    </div>
                </div>
            {{end}}
            </div>
        </div>
        
        <script>
            function fileUpload() {
                document.getElementById('fileUploadForm')
                    .submit()
            }

            function bytesToSize(bytes) {
                var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
                if (bytes == 0) return '0 Byte';
                var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
            }

            function fetchSAS(e) {
                var filename = e.target.dataset.filename
                fetch('/sas', {
                    method: 'POST',
                    body: 'filename=' + filename,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    }
                }).then(res => res.text())
                  .then(res => document.location = res)
                  .catch(e => console.error(e))
            }

            document.onreadystatechange = function() {
                if (document.readyState == 'complete') {
                    var elements = document.querySelectorAll('.size')
                    elements.forEach(function(element) {
                        var convertedVal = bytesToSize(parseInt(element.innerText))
                        element.innerHTML = convertedVal
                    })
                }
            }
        </script>
    </body>
</html>
{{end}}